<div id="hero" class="mb-5">
    <h1 class="text-white bg-black bg-opacity-50 p-4 border-1 rounded-pill">TITULO DEL BLOG</h1>
</div>

<div>
    <div class="container">
        <section class="row">
            <h2 class="text-center">Aquí tienes alguno de nuestros artículos...</h2>

            <article class="col-12 col-md-6 col-lg-4 my-3">
                <div class="card">
                    <figure class="">
                        <img src="../../../assets/images/post-sample-image.jpg" class="imagencita card-img-top"
                            alt="...">
                    </figure>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional
                            content.
                            This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </article>


            <article class="col-12 col-md-6 col-lg-4 my-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional
                            content.
                            This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                    <figure>
                        <img src="../../../assets/images/post-sample-image.jpg" class="imagencita card-img-bottom"
                            alt="...">
                    </figure>
                </div>
            </article>

            <article class="col-12 col-md-6 col-lg-4 my-3">
                <div class="card">
                    <figure>
                        <img src="../../../assets/images/post-sample-image.jpg" class="imagencita card-img-top"
                            alt="...">
                    </figure>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional
                            content.
                            This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </article>

            <article class="col-12 col-md-6 col-lg-4 my-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional
                            content.
                            This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                    <figure>
                        <img src="../../../assets/images/post-sample-image.jpg" class="imagencita card-img-bottom"
                            alt="...">
                    </figure>
                </div>
            </article>

            <article class="col-12 col-md-6 col-lg-4 my-3">
                <div class="card">
                    <figure>
                        <img src="../../../assets/images/post-sample-image.jpg" class="imagencita card-img-top"
                            alt="...">
                    </figure>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional
                            content.
                            This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </article>

            <article class="col-12 col-md-6 col-lg-4 my-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional
                            content.
                            This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                    <figure>
                        <img src="../../../assets/images/post-sample-image.jpg" class="imagencita card-img-bottom"
                            alt="...">
                    </figure>
                </div>
            </article>

        </section>
    </div>
</div>


<!-- <div class="row g-3">
            <article class="bg-dark rounded-3 col-12 col-md-6 col-lg-6 mx-auto">
                <h3>TITULO DE POST</h3>
                <figure>
                    <img src="../../../assets/images/post-sample-image.jpg" class="img-fluid">
                </figure>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus soluta cumque perferendis modi
                    cupiditate eligendi unde, aliquam neque totam, culpa veniam! Fugiat hic modi alias voluptatum natus
                    perferendis dignissimos doloribus?</p>
                </article>

                <article class="bg-dark rounded-3 col-12 col-md-6 col-lg-6 mx-auto">
                    <h3>TITULO DE POST</h3>
                    <figure>
                        <img src="../../../assets/images/post-sample-image.jpg" class="img-fluid">
                    </figure>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus soluta cumque perferendis modi
                    cupiditate eligendi unde, aliquam neque totam, culpa veniam! Fugiat hic modi alias voluptatum natus
                    perferendis dignissimos doloribus?</p>
            </article>
        </div> -->