<div id="hero" class="mb-5">
    <h1 class="text-white bg-black bg-opacity-50 p-4 border-1 rounded-pill">TITULO DEL BLOG</h1>
</div>

<div>
    <div class="container">
        <section class="row mb-5">
            <h2 class="text-center my-5">Aquí tienes algunos de nuestros artículos...</h2>

            <article class="col-12 col-md-6 col-lg-4 my-3"
                *ngFor="let post of arrPosts; let par = even; let impar = odd">

                <div class="card" *ngIf="par === true">
                    <figure class="">
                        <img [src]="post.imagen" class="imagencita card-img-top" [alt]="post.titulo"
                            [routerLink]="['/post', post.id]" role="button">
                    </figure>
                    <div class="card-body">
                        <h4 role="button" [routerLink]="['/post', post.id]" class="card-title">{{post.titulo}}</h4>
                        <hr class="w-25">
                        <p class="card-text">{{post.texto}}</p>
                        <hr>
                        <p class="card-text"><small class="text-muted">{{post.fecha}} - Posted by {{post.autor}} -
                                <span role="button"
                                    [routerLink]="['/category', post.categoria.toLowerCase()]">{{post.categoria}}</span></small>
                        </p>
                    </div>
                </div>

                <div class="card" *ngIf="impar === true">
                    <div class="card-body">
                        <h4 role="button" [routerLink]="['/post', post.id]" class="card-title">{{post.titulo}}</h4>
                        <hr class="w-25">
                        <p class="card-text">{{post.texto}}</p>
                        <hr>
                        <p class="card-text"><small class="text-muted">{{post.fecha}} - Posted by {{post.autor}} -
                                <span role="button"
                                    [routerLink]="['/category', post.categoria.toLowerCase()]">{{post.categoria}}</span></small>
                        </p>
                    </div>
                    <figure>
                        <img [src]="post.imagen" class="imagencita card-img-bottom" [alt]="post.titulo"
                            [routerLink]="['/post', post.id]" role="button">
                    </figure>
                </div>
            </article>
        </section>
    </div>
</div>